div#header
    a(href="/home") Home
    if session && session.loggedin
        a(href="/Artwork") Artwork
        a(href="/searchArt") Search
        a(href="/Account") Account
        a(href="/logout") Logout
    else
        a(href="/register") Register
        form(action="/login", method="post")
            | Username:
            input(type="text", name="username", required)
            | Password:
            input(type="password", name="password", required)
            button(type="submit") Login
