html(lang="en")
    head
        title Add Artwork
        link(rel="stylesheet", href="/styles.css")
        script(type='text/javascript', src='/addArt.js')
    body
        include ../partials/headers

        .main-container
            h1 Add Artwork

            p Name:
            input#Aname(type="textbox", placeholder="name...")

            p Year:
            input#Ayear(type="textbox", placeholder="year...")

            p Category:
            input#Acategory(type="textbox", placeholder="category...")

            p Medium:
            input#Amedium(type="textbox", placeholder="medium...")

            p Description:
            input#Adescription(type="textbox", placeholder="description...")

            p Image URL:
            input#Aimage(type="textbox", placeholder="image...")

            button#Aadd(type='button', onclick="add_art()") Add
