html(lang="en")
    head
        title Add Workshop
        link(rel="stylesheet", href="/styles.css")
        script(type='text/javascript', src='/addWorkshop.js')
    body
        include ../partials/headers

        .main-container
            h1 Add Workshop

            p Name:
            input#Wname(type="textbox", placeholder="workshop name...")

            p Goal:
            input#Wgoal(type="textbox", placeholder="workshop goal...")

            p Duration (weeks):
            input#Wduration(type="textbox", placeholder="workshop duration...")

            button#Wadd(type='button', onclick="add_workshop()") Add
