html(lang="en")
    head
        title Register User
        link(rel="stylesheet", href="/styles.css")
    body
        include ../partials/headers

        .main-container
            h1 Register

            #error

            p Username:
            input#name(type="textbox")

            p Password:
            input#pass(type="password")

            button#submit(type="button") Register

        script(src="/register.js")
